@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.dark {
  background-color: #000;
  color: #fff;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card-footer-icon{
  @apply border-gray-200 rounded-full p-1 pt-2 cursor-pointer border-2 hover:bg-gray-200 
  dark:hover:text-black;
}
.btn{
  @apply border-gray-200 rounded-sm p-2 pt-2 cursor-pointer border-2 hover:bg-gray-200 dark:hover:text-white dark:hover:bg-dark_mode-800;
}
.profile__main__header__stats__item{
  @apply flex flex-row items-center justify-center text-center;
}
.debug{
  @apply border-2 border-red-500;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


.thread{

}

.thread::after {
  content: "";
  width: 2px;
  height: 28%;
  position: absolute;
  margin-left: 24rem;
  background-color: hsl(235, 50%, 74%);
  /* transition: background-color 100ms ease-in-out;  */
}
.reply::after {
  content: "";
}








