.container{
    border: 2px solid black;
    gap:10px;
    margin:10px;  
    width:80%;
    height:30%;
    overflow: hidden;
    background-color: #000;
    color:#fff;
    padding:10px 0px 0px 25px;
    max-height: 30%;
    flex-wrap: wrap;
    // @if(str-length($post) > 20){
    //     str-slice($post, 0, 20) + "...";
    // }
    
    .info{
        display:flex;
        flex-direction:row;
        gap:10px;
        
        span:nth-child(1){
            font-size: 1.5rem;
            font-weight: 600;
        }
        span:nth-child(2),span:nth-child(3){
            font-size: 1rem;
            font-weight: 100;
            margin-top: 5px;
        }
    }
}

.card__footer{
    display:flex;
    flex-direction:row;
    gap:20px;
    justify-content:space-between;
    padding:10px;
    height:5em;
    align-items: center;
    &__span:hover{
        cursor:pointer;
        border: 1px solid black;
        padding: 0;
        border-radius:50%;
        aspect-ratio: 1/1;
        padding: 10px;
        
    }
    &__span{
        border-radius:50%;
        aspect-ratio: 1/1;
        padding: 5px;
        justify-content: center;
        align-items: center;
    }
    
}