.navbar {
  background-color: #000;
  color: #fff;
  padding: 10px;
  display: flex;
  gap: 30px;
  align-items: center;
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .links {
    display: flex;
    .link {
      margin-left: 10px;
      text-decoration: none;
      color: #fff;
    }
  }
}
.navbar__logo__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin: 0;
  padding: 0;
  .navbar__logo__list__item {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.navbar__logo__list__item__right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin-left: 130vh;
  padding: 0;
  float: right;
  position: relative;
  right: 0;
}

.nav__search__bar {
  .nav__search__bar input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 3000px;
  }
  &:active {
    background-color: #fff;
  }
}

.navbar__logo__list__dropdown {
  li {
    list-style: none;
    margin: 0;
    padding: 3px;
    color: white;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #fff;
      color: #000;
      border-radius: 5px;
      padding: 3px;
    }
  }
  ul {
    margin: 0;
    padding: 20px;
    border: 2px solid #000;
    float: right;
    background-color: #000;
    border-radius: 5px 0px 0px 5px;
  }
  &:hover {
    cursor: pointer;
  }
}

.navbar__logo__list__item {
  list-style: none;
  margin: 0;
  padding: 0;
  &:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border-radius: 10%;
  }
}

.dark {
  background-color: #000;
  color: #fff;
}
.hide {
  display: none;
}
.light_mode {
  margin-left: 25px;
}

// .search-box input[type=search] {
//   width: 100%;
//   margin-block: 1em 5%;
//   justify-content: center;
//   height: 2em;
//   font-size: 0.8em;
//   color: var(--text-color);
//   border-radius: 25px;
//   background-color: var(--off-background);
//   border-color: var(--off-background);
// }   
